body{
    margin:0;
    font-family: Inter;

}

/* Nav */

#sim-logo{
    display: inline;
    width: 140px;
}
#nav {
    display: block;
    width: 100%;
    margin: 0;
    height: auto;
    background-color: white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .1);
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding:0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin: 0;
}
.nav-item{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    font-size: small;
    font-weight: bolder;
}
.nav-btn{
    text-decoration: none;
}
.nav-btn:link, .nav-btn:visited{
    color: black;
    text-decoration: none;
}
.nav-btn:hover{
    color: blue;
}
.onlogin {
    display: none;
}
.far-right {
    margin-left:auto;
}



/* Booking */

#booking-container{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.room{
    width: 900px;
    height: 10ch;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .1);
    padding: 3ch;
    margin: 3ch;
    display: flex;
}
.meeting-icon{
    padding: 0px 2px 2px 0px;
}
.room-info{
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.building-container{
    width: 80%
}
.button-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.slotbtn {
    width: 18%;
    background-color: rgb(46, 141, 230);
    border-radius: 12px;
    padding: 10px 12px;
    color: black;
    font-weight: 400;
    font-family: Inter;
}

/* Login */
#login-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-box,.register-box{
    width: 500px;
    height: 300px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .1);
    padding: 30px
}
.row-form{
    display: flex;
    column-gap: 10%;
    justify-content: center;
    padding: 2%;
}
.info-field{
    width: 25%;
}


button {
  background-color: #3f8fe6;
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#error, #reg_error, #date_err {
    color: red;
    font-size: small;
    width: 300px;
    justify-self: center;
}

/* Register */
#register-container{
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}